* {
    margin: 0px;
    padding: 0px;
}
.nav-container {
    height: 80px;
    margin-left: 120px;
    margin-right: 120px;
    color: white;
    background-color: black;
}
.header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
}
.col1 {
    flex-direction: column;
    flex: 2;
}
.card1 {
    margin-left: 80px;
    height: 280px;
    width: 180px;
    border: 2px solid black;
}
.col2 {
    flex-direction: column;
    flex: 1;
}
.card {
    margin-top: 10px;
    height: 120px;
    width: 420px;
    border: 2px solid black;
}
.button {
    height: 30px;
    width: 100px;
    margin: 8px;
    color: black;
    background-color: lightyellow;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}
p {
    margin-top: 20px;
    margin-left: 20px;
}
.user {
    margin-left: 8px;
}